<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src='js/main.js'></script>
    <title>Single Page Application</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

<div class="workspace">
    <h1>Список дел:</h1>
    <form action="">
        <input type="text" name="inputToDo" placeholder="Введите, что нужно сделать"><br />
        <p><input type="checkbox" name="checkAll"><u>Отметить все как выполненные</u></p>
        <ul>
            <hr>
            <li><p><input type="checkbox" name=""> Здесь какая то заметка</p></li>
            <hr>
            <!--<li><p><input type="checkbox" name=""> Здесь какая то заметка</p></li>-->
            <!--<hr>-->
            <!--<li><p><input type="checkbox" name=""> Здесь какая то заметка</p></li>-->
            <!--<hr>-->
            <!--<li><p><input type="checkbox" name=""> Здесь какая то заметка</p></li>-->
            <!--<hr>-->

        </ul>
        <div class="footer">
            <button type="submit">Удалить</button>
            <!--<input type="submit" value="Удалить">-->
        </div>
    </form>
</div>


</body>
</html>